#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form {
  width: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-to-do {
  background-color: aqua;
  border: 1px solid aqua;
  border-radius: 1px 8px 8px 1px;
  padding: 0.1em;
}

.input {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
  margin-bottom: 1em;
}

#input {
  height: 24px;
}
