* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

form {
  margin-left: 40%;
}

h1 {
  color: red;
  margin: 0.4em 0;
}
p {
  display: inline;
}
label {
  display: inline-block;
  width: 5em;
}
select,
input {
  width: 15em;
}
select {
  text-align: center;
}

.table {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border: 1px solid black;
}
.table i {
  font-size: 2em;
}
